body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace ;
    color: orange;
}

canvas {
    margin-top: 220px;
    background-color: black;
    border-radius: 30px;
}